body {
  background-color: #f2f2f2;
}

/**************************************** overskrift indstillinger *************************/
/* overskrift dækker over den første del af "behandlings" siden, og "tidsbestilling" er den anden del af siden */
.overskrift_behandling {
  display: grid;
}

.overskrift_behandling h1 {
  font-family: "Sora", sans-serif;
  font-size: 1rem;
  border-bottom: 2px solid #f2ccc8;
  margin: 40px;
  padding: 40px;
  padding-bottom: 5px;
}

@media (min-width: 700px) {
  .overskrift_behandling h1 {
    font-size: 3rem;
  }
}

/**************************************** overskrift IMG indstillinger *************************/
.ph_img {
  place-self: center;
  width: 50%;
  margin: 20px;
  padding: 20px;
}

/**************************************** tidsbestilling indstillinger *************************/
.grid {
  display: grid;
}

/* "book" er klassen der indeholder tekst der opfordrer til at bestille en tid */
.book {
  font-family: "Sora", sans-serif;
  font-size: 0.5rem;
  border-bottom: 2px solid #f2ccc8;
  margin: 40px;
  padding: 40px;
  padding-bottom: 5px;
}

.specifikationer {
  font-family: "Sora", sans-serif;
  font-size: 0.5rem;
}

.test_foto {
  width: 50%;
}

/* responsiv indstilling så overskriften og p passer i størrelsen */
@media (min-width: 700px) {
  .book {
    font-size: 2rem;
  }

  .specifikationer {
    font-size: 2rem;
    margin-right: 80px;
  }
}
