img {
  max-width: 100%;
}
body {
  background-color: #fffaf0;
  margin-left: 150px;
  margin-right: 150px;
}

body {
  background-color: floralwhite;
}

footer {
  background-color: #c281b6;
  color: white;

  padding: 30px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -10px;
}

#tid {
  margin-bottom: 50px;
}

#kontakt {
  margin-bottom: 50px;
}

.top h1 {
  margin: 10px;
  padding: 10px;
  font-weight: bold;
}

/******************************** section 1 - behandlingsindstillinger ***********************/

#behandling img {
  width: 85%;
  margin: 10px;
  padding: 10px;
}

/********* layout-indstillinger ************/
@media (min-width: 600px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .wrapper_t {
    display: grid;
  }

  .col_t {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/**************************** andre desktop-indstillinger **********************/
@media (min-width: 1000px) {
  body {
    margin-left: 150px;
    margin-right: 150px;
  }
  footer {
    background-color: #c281b6;
    color: white;
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
  }
  #tid {
    margin-left: 10px;
    margin-right: 50px;
  }

  #kontakt {
    margin-right: 500px;
    place-content: left;
  }

  /**************** nav **************/
  .banner {
    justify-content: space-between;
    grid-row: 1;
    height: 10px;
  }

  .banner ul {
    list-style: none;
    padding: 0;
    gap: 20px;
    display: inline-flexbox;
    padding-top: 15px;
  }
  .top {
    display: grid;
    justify-content: space-between;
    border: 2px solid #a33d81;
  }
  .top h1 {
    margin-left: 400px;
  }

  .toggle-btn {
    grid-row: 2;
    margin-left: -120px;
    margin-top: 100px;
  }

  nav.shown {
    margin-left: -120px;
  }
}

nav {
  display: none;
}

nav.shown {
  display: grid;
  grid-row: 1;
  grid-column: 1;
}

li {
  list-style: none;
  color: #ac6092;
  font-family: "Sora", sans-serif;
  font-weight: normal;
  margin-top: 20px;
}

a {
  color: #ac6092;
}

.header {
  height: 100px;
}

.toggle-btn {
  color: #934073;
  border: none;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  border-radius: 12px;
}

@media (min-width: 800px) {
  .wrapper_g {
    display: flex;
  }

  .col_g {
    display: flex;
    justify-content: space-evenly;
  }
}

/******************************** section 2 - tidsbestillings-indstillinger ***********************/

#tidsbestilling img {
  width: 85%;
  margin: 10px;
  padding: 10px;
}

/** knap indstilling **/
button {
  color: #934073;
  border: none;
  min-width: 34px;
  min-height: 34px;
  font-size: 0.9rem;
  border-radius: 9px;
}

/******************************** section 3 - klippe/gavekort-indstillinger ***********************/

#gavekort img {
  width: 75%;
  margin: 20px;
  padding: 20px;
}

.gave {
  font-size: 1.5rem;
}

/**** margin & padding mobil ****/

#behandling {
  margin: 10px;
  padding: 10px;
}

#tidsbestilling {
  margin: 10px;
  padding: 10px;
}

#gavekort {
  margin: 10px;
  padding: 10px;
}
