body {
  background-color: #fffaf0;
}

img {
  width: 100%;
  outline: 3px solid #c281b6;
}

/************************ Skrift-indstillinger ***************/

h1 {
  font-family: "Sora", sans-serif;
  font-weight: normal;
  color: #934073;
  text-align: center;
  margin: 50px;
  position: center;
  font-size: 3rem;
}

h2 {
  font-family: "Sora", sans-serif;
  font-weight: normal;
  color: #934073;
  text-align: center;
  margin: 50px;
  position: center;
  margin-top: -2%;
}

p {
  font-family: "Sora", sans-serif;
  font-weight: lighter;
  /* margin: 40px; */
  line-height: 30px;
  /* margin: 10px;
  padding: 10px; */
}

/***************************** layout udenfor Q ***********/
/* første sektion */
#hjem1 {
  display: grid;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: 37%;
}

video {
  object-fit: cover;
  aspect-ratio: 16/9;
}

/******* body responsiv indstilling ift. nav ******/
@media (min-width: 1000px) {
  body {
    margin-left: 150px;
    margin-right: 150px;
  }
}

/**** IMG indstillinger ****/
#billede2 {
  margin: 10px;
  padding: 10px;
}

.billede3 {
  margin: 10px;
  padding: 10px;
}

@media (min-width: 1000px) {
  #boks2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  /* anden sektion */

  #billede2 {
    display: grid;
    object-fit: cover;
    grid-row: 1;
    outline: 3px solid #c281b6;
    margin: 0;
    padding: 0;
  }

  #boks2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    object-fit: cover;
    margin-top: 20px;
  }

  /* footer */
  .overskrift {
    outline: 3px solid #c281b6;
  }

  footer {
    background-color: #c281b6;
    color: white;
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
  }
  #tid {
    margin-right: 50px;
  }

  #kontakt {
    margin-right: 500px;
    place-content: left;
  }

  .billede3 {
    display: grid;
    grid-column: 2/2;
    outline: 3px solid #c281b6;
    object-fit: cover;
    margin-bottom: 20px;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }
}

/*footer ikke i media*/

footer {
  background-color: #c281b6;
  color: white;

  padding: 30px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -10px;
}

#tid {
  margin-bottom: 50px;
}

#kontakt {
  margin-bottom: 50px;
}

footer img {
  width: 35px;
}

video {
  display: grid;
  width: 100%;
  height: 100%;
  margin: 0;
  object-fit: cover;
  outline: 3px solid #c281b6;
  aspect-ratio: 16/9;
}

/************************** Nav-indstillinger *****************/

@media (min-width: 1000px) {
  .banner {
    justify-content: space-between;
    grid-row: 1;
    height: 10px;
  }

  .top {
    display: grid;
    justify-content: space-between;
    border: 2px solid #a33d81;
  }

  .top h1 {
    margin-left: 400px;
  }

  .toggle-btn {
    min-width: 44px;
    min-height: 44px;
    font-size: 1.1rem;
    border-radius: 12px;
    grid-row: 2;
    margin-left: -120px;
    margin-top: 100px;
  }

  .banner ul {
    list-style: none;
    padding: 0;
    gap: 20px;
    display: inline-flexbox;
    padding-top: 15px;
  }

  nav.shown {
    margin-left: -120px;
  }
}

a {
  color: #ac6092;
}

li {
  list-style: none;
  color: #ac6092;
  font-family: "Sora", sans-serif;
  font-weight: normal;
  margin-top: 20px;
}

.header {
  height: 100px;
}

.toggle-btn {
  color: #934073;
  border: none;
}

nav {
  display: none;
}

nav.shown {
  display: grid;
  grid-row: 1;
  grid-column: 1;
}

.toggle-btn {
  margin-top: 0%;
}

.tekst {
  margin: 10px;
  padding: 10px;
}
.toggle-btn {
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  border-radius: 12px;
}
