#kropsterapi {
  margin: 100px;
}

#boks {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#billede {
  grid-column: 1/2;
}

#tekst {
  grid-column: 2/3;
  margin-top: -35px;
}

img {
  max-width: 80%;
}

p {
  line-height: 21px;
  font-family: readex pro, sans-serif;
  font-weight: lighter;
}

h1 {
  font-family: Playfair display, sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

h3 {
  font-family: readex pro, sans-serif;
  font-weight: normal;
}

footer {
  background-color: #a67298;
  color: white;

  padding: 80px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -10px;
  display: flex;
}
#tid {
  margin-left: 10px;
  margin-right: 50px;
}

#kontakt {
  margin-right: 500px;
}
