img {
  max-width: 100%;
}

#kropsterapi {
  margin: 30px;
}

footer {
  background-color: #c281b6;
  color: white;

  padding: 30px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -10px;
}

#tid {
  margin-bottom: 50px;
}

#kontakt {
  margin-bottom: 50px;
}

@media (min-width: 1000px) {
  #kropsterapi {
    margin: 100px;
  }
  #boks {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #billede {
    grid-column: 1/2;
  }

  #tekst {
    grid-column: 2/3;
    margin-top: -35px;
  }

  img {
    max-width: 80%;
  }
  footer {
    background-color: #c281b6;
    color: white;
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
  }
  #tid {
    margin-left: 10px;
    margin-right: 50px;
  }

  #kontakt {
    margin-right: 500px;
    place-content: left;
  }

  body {
    background-color: #f2f2f2;
  }
}
