body {
  background-color: #fffaf0;
}

h1 {
  font-family: "Sora", sans-serif;
  font-weight: normal;
  color: #934073;
}

h2 {
  font-family: "Sora", sans-serif;
  font-weight: normal;
  color: #a33d81;
}

h3 {
  font-family: "Sora", sans-serif;
  font-weight: normal;
  color: #ac6092;
}

footer h3 {
  color: white;
}

p {
  font-family: "Sora", sans-serif;
  font-weight: lighter;
  line-height: 30px;
}

/******************** DISSE TING SKAL DU KOPIERE IND TIL DIN NAV **********************/
